* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #24292E;
}

ul {
    list-style-type: none;
}

.container-fluid {
    width: 98%;
    margin: auto;
}

.container {
    width: 90%;
    margin: auto;
}

.nav-dark {
    background-color: #21252B;
}

.nav-top {
    display: flex;
    align-items: center;
}

.nav-top li a {
    display: block;
    padding: 7px 15px;
    text-decoration: none;
    color: rgb(211, 207, 201);
    font-size: 14px;
    font-weight: 500;
}

.form {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 9px;
    box-sizing: border-box;
    background-color: rgb(27, 29, 35);
}

.form:focus {
    color: #fff;
}

.btn {
    padding: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(27, 29, 35);
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.size-logo {
    font-size: 32px;
}

.size-form {
    width: 280px;
}


/* body site */

.mt {
    margin-top: 70px;
}

.mt-1 {
    margin-top: 10px;
}

.radius-100 {
    border-radius: 100%;
}

.title-user {
    font-size: 19px;
    color: #999ca0;
    font-weight: 500;
}

.btn-user {
    width: 100%;
    display: block;
    padding: 7px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn-user-bg {
    background-color: #585B5F;
    border: 1px solid rgb(117, 109, 96);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
}

.config-link {
    color: #999ca0;
    text-decoration: none;
    margin-right: 9px;
    font-size: 14px;
}

.friend-svg {
    margin-right: 5px;
}

.list-detalhis-user li a {
    color: #999ca0;
    text-decoration: none;
    font-size: 14px;
}